OBS_WEBSOCKET_URL=ws://host.docker.internal:4455
OBS_WEBSOCKET_CONNECTION_TIMEOUT=5000
TOOLSETS=scenes
MCP_HTTP_SESSION_MODE=stateful
MCP_HTTP_SESSION_IDLE_TIMEOUT_MS=1800000
OBS_INTEGRATION_TESTS=0
OBS_INTEGRATION_MUTATION_TESTS=0
